<div class="container">
  <div class="row">
    <div class="col-md-4" style="text-align: justify;">
      <ul>
        <li>
          <article>
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Stay_Awake.svg" alt="Image description">
            <h2>Why Learning to Code is Important</h2>
            <p>Coding is becoming an increasingly important skill in today's world. With the rise of technology and
              automation, many jobs are now requiring some level of coding knowledge. Additionally, coding can help
              improve problem-solving skills and logical thinking, making it a valuable skill to have in many areas of
              life.</p>
          </article>
        </li>

        <li>
          <article>
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Stay_Awake.svg" alt="Image description">
            <h2>Why Learning to Code is Important</h2>
            <p>Coding is becoming an increasingly important skill in today's world. With the rise of technology and
              automation, many jobs are now requiring some level of coding knowledge. Additionally, coding can help
              improve problem-solving skills and logical thinking, making it a valuable skill to have in many areas of
              life.</p>
          </article>
        </li>

        <li>
          <article>
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Stay_Awake.svg" alt="Image description">
            <h2>Why Learning to Code is Important</h2>
            <p>Coding is becoming an increasingly important skill in today's world. With the rise of technology and
              automation, many jobs are now requiring some level of coding knowledge. Additionally, coding can help
              improve problem-solving skills and logical thinking, making it a valuable skill to have in many areas of
              life.</p>
          </article>
        </li>
      </ul>
    </div>

    <div class="col-md-8" style="text-align: justify;">
      <!-- Right column content goes here -->
      <h2>Right Column</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc vel bibendum bibendum, elit elit
        bibendum, elit elit bibendum, elit elit bibendum, elit elit bibendum, elit elit bibendum, elit elit bibendum,
        elit elit bibendum, elit elit bibendum, elit elit bibendum, elit elit bibendum, elit elit bibendum, elit elit
        bibendum, elit elit bibendum, elit elit bibendum, elit.</p>
    </div>

  </div>
</div>