<div id="informacion" v-cloak>

  <h1 @click="click()">TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/informacion.less</em>, <em>assets/js/pages/informacion.page.js</em>, and <em>api/controllers/view-informacion.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
